In [49]:
!pip install pyspark
!pip install install-jdk
!pip install findspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=09c9b4d5f4d197b4e124e85f02e6f6942d4408f940788d4b466c996261fabaac
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2
Collecting install-jdk
  Downloading install_jdk-1.1.0-py3-none-any.whl.metadata (12 kB)
Downloading install_jdk-1.1.0-py3-none-any.whl (15 kB)
Installing collected packages: install-jdk
Successfully installed install-jdk-1.1.0
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [127]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

spark = (SparkSession.builder
.appName("MySparkApp")
.getOrCreate())

In [128]:
import random as rnd
import datetime as dt

n=1000
rnd.seed()
dates=[]
for i in range(0,n):
  d=dt.date(dt.date.today().year,rnd.randint(1,12),rnd.randint(1,28))
  dates.append(d.strftime("%Y-%m-%d"))
#print(dates)
counts=[rnd.randint(1,11) for i in range(0,n)]
#print(counts)
prices=[rnd.randint(1,500) for i in range(0,n)]
#print(prices)
users=[rnd.randint(100,1000) for i in range(0,n)]
#print(users)
prod=["apple","milk","potatoes","bread","fish"]
prods=[rnd.choice(prod) for i in range(0,n)]
#print(prods)

#my_data=[(a,b,c,d,e) for a in dates for b in users for c in prods for d in counts for e in prices]
my_data=[]
for i in range(0,n):
  d=(dates[i],users[i],prods[i],counts[i],prices[i])
  my_data.append(d)
#print(my_data)

In [129]:
schema = StructType([
    StructField("Data", StringType(), True),
    StructField("UserID", IntegerType(), True),
    StructField("Product", StringType(), True),
    StructField("Count", IntegerType(), True),
    StructField("Price", IntegerType(), True)
])
df=spark.createDataFrame(my_data, schema)
df.show()

+----------+------+--------+-----+-----+
|      Data|UserID| Product|Count|Price|
+----------+------+--------+-----+-----+
|2024-06-05|   256|    milk|    9|    5|
|2024-02-07|   644|    fish|    7|  270|
|2024-05-18|   291|   apple|    6|  299|
|2024-05-18|   879|potatoes|    9|  306|
|2024-08-18|   433|    milk|    2|  434|
|2024-10-16|   915|    fish|    4|  104|
|2024-10-02|   746|   bread|    7|  184|
|2024-09-07|   390|potatoes|    1|  259|
|2024-01-07|   126|   bread|    9|  229|
|2024-12-23|   853|   bread|    4|  437|
|2024-11-02|   149|    milk|    5|  300|
|2024-01-05|   254|    fish|    1|  106|
|2024-11-09|   239|potatoes|    2|  408|
|2024-05-24|   908|potatoes|    5|  349|
|2024-07-17|   582|    milk|    9|  143|
|2024-05-15|   337|   apple|    9|   36|
|2024-02-26|   138|   bread|   10|  152|
|2024-07-23|   320|    fish|    7|  313|
|2024-03-27|   454|    fish|    3|  190|
|2024-08-12|   863|   bread|    9|   70|
+----------+------+--------+-----+-----+
only showing top 20 rows

In [133]:
df.write.mode("overwrite").option("header",True).csv("my_output")

In [134]:
spark.stop()